/* Border */

.MonthView {
  box-sizing: border-box;

  position: inherit;
  width: 900px;
  height: 600px;
  left: 42px;
  top: 80px;

  background: #FFFFFF;
  border: 1px solid #E0DBDB;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.wrapper {
  left: 15%;
  position: inherit;
  top: 70px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.dayRow {
  position: inherit;
  margin-top: -5px;
}